:root
{
    --purple:  rgb(229, 165, 224);
    --green:  rgb(15, 58, 15);
}

*
{
    box-sizing: border-box;
}

body{
    background-color: var(--purple);
    margin:0;
}
/* top header tags */
.home
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color:rgb(60, 13, 29);
    background-color:rgb(159, 115, 158);
    border-bottom: 10px solid rgb(66, 41, 73);
}

h1{
    font-size: 200%;
}

h1:hover
{
    color: rgb(222, 175, 34);
}

nav a{
    text-decoration: none;
    color:rgb(76, 13, 66);
    font-weight: bold;
    font-style: italic;
}
nav a:hover
{
    color:rgb(183, 210, 103);
}
    
main
{
    display: flex;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    /* Align the child elements to the top of the parent */
    align-items: flex-start;
    width: 90%;
    margin: 1% auto;
  }
  
.profile-image {
    width: 50%;
    border-radius: 150px;
    
  }
  
  .details {
    margin-left: 3%;
    flex: 0 0 60%;
  }
h3{
    font-size: 25px;
    color: rgb(208, 157, 26);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul
{
    list-style-type: none;
    color: bisque;
    font-size: 20px;
 }
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--green);
}
h2:hover
{
    color: gold;
}
#objective
{
    text-align: center;
    color:rgb(104, 4, 96);
}
p
{
    text-align:justify;
    color:#4e4310;
    font-weight: bold;
}
p:hover
{
    color: rgb(14, 21, 103);
}
footer
{
    height: fit-content;
    padding: 1%;
    text-align: center;
    background: rgb(111, 25, 80);
    color: beige;
   
}
.mywork
{
    flex: 4;
    background-color: beige;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color-scheme: rgba(98, 17, 93, 0.893);
}

.project
{
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    flex:0 0 200px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px blueviolet;
    margin: 20px;
}

.project header
{
    /*border-radius: 50px 50px 0px 0px;*/
border-radius: 25% 10%;
    padding: 20px;
}

.project img
{
    width: 50%;
}

@media screen and (max-width: 768px) {
    main,nav
    {
        flex-direction: column;
    }
    
}