*
{
    box-sizing: border-box;
}

body{
    background-color: rgb(59, 76, 16);
    margin:0;
}
/* top header tags */
.home
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color:indigo;
    background-color:darkseagreen;
}
h1{
    font-size: 200%;
}

h1:hover
{
    color: darkblue;
}

nav a{
    text-decoration: none;
    color:indigo;
    font-weight: bold;
    font-style: italic;
}
nav a:hover
{
    color:crimson;
}
    
main
{
    display: flex;
    flex-wrap: wrap;
}
aside
{
    flex: 1;
    background-color: aquamarine;
    padding: 80px;
    text-align: center;
}

footer
{
    padding: 20px;
    text-align: center;
    background: red;
    color: beige;
}

.mywork
{
    flex: 4;
    background-color: beige;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex:0 0 400px;
}

.project header
{
    padding: 20px;
}

.project img
{
    width: 100%;
}

@media screen and (max-width: 768px) {
    main,nav
    {
        flex-direction: column;
    }
    
}